[submodule "jujiuuicomponents"]
	path = jujiuuicomponents
	url = git@github.com:Cache-Hit-Shanghai/jujiuuicomponents.git
[submodule "jujiu-ui-components"]
	path = jujiu-ui-components
	url = git@github.com:Cache-Hit-Shanghai/jujiuuicomponents.git
